/* line 15, ../scss/_colors.scss */
.c-red {
  color: #ca2535 !important; }

/* line 18, ../scss/_colors.scss */
.c-blue {
  color: #1478b9 !important; }

/* line 21, ../scss/_colors.scss */
.c-yellow {
  color: #fdb813 !important; }

/* line 24, ../scss/_colors.scss */
.c-grey {
  color: #3f3f3f !important; }

/* line 27, ../scss/_colors.scss */
.c-lgrey {
  color: #e0e0e0 !important; }

/* line 30, ../scss/_colors.scss */
.bgc-white {
  background-color: #fff !important; }

/* line 4, ../scss/_classes.scss */
.f-left {
  display: block;
  float: left; }

/* line 5, ../scss/_classes.scss */
.f-right {
  display: block;
  float: right; }

/* line 7, ../scss/_classes.scss */
.block {
  display: block !important; }

/* line 8, ../scss/_classes.scss */
.iblock {
  display: inline-block !important; }

/* line 9, ../scss/_classes.scss */
.inline {
  display: inline !important; }

/* line 10, ../scss/_classes.scss */
.hidden {
  display: none;
  visibility: hidden !important; }

/* line 13, ../scss/_classes.scss */
a.hover-uline:hover {
  text-decoration: underline !important; }

/* line 18, ../scss/_classes.scss */
.va-top {
  vertical-align: top; }

/* line 19, ../scss/_classes.scss */
.va-middle {
  vertical-align: middle; }

/* line 20, ../scss/_classes.scss */
.va-bottom {
  vertical-align: bottom; }

/* line 22, ../scss/_classes.scss */
.w-auto {
  width: auto !important; }

/* line 24, ../scss/_classes.scss */
.abs-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

/* line 25, ../scss/_classes.scss */
.abs-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/* line 26, ../scss/_classes.scss */
.abs-top-left {
  position: absolute;
  top: 0;
  left: 0; }

/* line 27, ../scss/_classes.scss */
.abs-top-right {
  position: absolute;
  top: 0;
  right: 0; }

/* line 28, ../scss/_classes.scss */
.abs-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0; }

/* line 29, ../scss/_classes.scss */
.abs-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0; }

/* line 31, ../scss/_classes.scss */
.z-depth-1 {
  background-color: #fff !important;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.15); }

/* line 32, ../scss/_classes.scss */
.z-depth-2 {
  background-color: #fff !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }

/* line 33, ../scss/_classes.scss */
.z-depth-3 {
  background-color: #fff !important;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25); }

/* line 34, ../scss/_classes.scss */
.z-depth-4 {
  background-color: #fff !important;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3); }

/* line 36, ../scss/_classes.scss */
.bg-cover {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%; }

/* line 40, ../scss/_classes.scss */
.img-fullwidth {
  display: block;
  width: 100%;
  height: auto; }

/* line 46, ../scss/_classes.scss */
.one-line {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* line 52, ../scss/_classes.scss */
.w-auto,
.wauto {
  width: auto !important; }

/* line 56, ../scss/_classes.scss */
.text-right-sm {
  text-align: left; }
  @media (min-width: 768px) {
    /* line 56, ../scss/_classes.scss */
    .text-right-sm {
      text-align: right; } }

/* line 62, ../scss/_classes.scss */
.text-right-md {
  text-align: left; }
  @media (min-width: 1200px) {
    /* line 62, ../scss/_classes.scss */
    .text-right-md {
      text-align: right; } }

/* line 68, ../scss/_classes.scss */
.text-right-lg {
  text-align: left; }
  @media (min-width: 1200px) {
    /* line 68, ../scss/_classes.scss */
    .text-right-lg {
      text-align: right; } }

/* line 74, ../scss/_classes.scss */
.text-right {
  text-align: right; }

/* line 77, ../scss/_classes.scss */
.tt-none {
  text-transform: none !important; }

/* line 81, ../scss/_classes.scss */
.mg-0 {
  margin: 0 !important; }

/* line 82, ../scss/_classes.scss */
.mg-a0 {
  margin: 0 !important; }

/* line 83, ../scss/_classes.scss */
.mg-a5 {
  margin: 5px !important; }

/* line 84, ../scss/_classes.scss */
.mg-a10 {
  margin: 10px !important; }

/* line 85, ../scss/_classes.scss */
.mg-a15 {
  margin: 15px !important; }

/* line 86, ../scss/_classes.scss */
.mg-a20 {
  margin: 20px !important; }

/* line 87, ../scss/_classes.scss */
.mg-t0 {
  margin-top: 0 !important; }

/* line 88, ../scss/_classes.scss */
.mg-b0 {
  margin-bottom: 0 !important; }

/* line 89, ../scss/_classes.scss */
.mg-l0 {
  margin-left: 0 !important; }

/* line 90, ../scss/_classes.scss */
.mg-r0 {
  margin-right: 0 !important; }

/* line 91, ../scss/_classes.scss */
.mg-t5 {
  margin-top: 5px !important; }

/* line 92, ../scss/_classes.scss */
.mg-b5 {
  margin-bottom: 5px !important; }

/* line 93, ../scss/_classes.scss */
.mg-l5 {
  margin-left: 5px !important; }

/* line 94, ../scss/_classes.scss */
.mg-r5 {
  margin-right: 5px !important; }

/* line 95, ../scss/_classes.scss */
.mg-t10 {
  margin-top: 10px !important; }

/* line 96, ../scss/_classes.scss */
.mg-b10 {
  margin-bottom: 10px !important; }

/* line 97, ../scss/_classes.scss */
.mg-l10 {
  margin-left: 10px !important; }

/* line 98, ../scss/_classes.scss */
.mg-r10 {
  margin-right: 10px !important; }

/* line 99, ../scss/_classes.scss */
.mg-t15 {
  margin-top: 15px !important; }

/* line 100, ../scss/_classes.scss */
.mg-b15 {
  margin-bottom: 15px !important; }

/* line 101, ../scss/_classes.scss */
.mg-l15 {
  margin-left: 15px !important; }

/* line 102, ../scss/_classes.scss */
.mg-r15 {
  margin-right: 15px !important; }

/* line 103, ../scss/_classes.scss */
.mg-t20 {
  margin-top: 20px !important; }

/* line 104, ../scss/_classes.scss */
.mg-b20 {
  margin-bottom: 20px !important; }

/* line 105, ../scss/_classes.scss */
.mg-l20 {
  margin-left: 20px !important; }

/* line 106, ../scss/_classes.scss */
.mg-r20 {
  margin-right: 20px !important; }

/* line 107, ../scss/_classes.scss */
.mg-t25 {
  margin-top: 25px !important; }

/* line 108, ../scss/_classes.scss */
.mg-b25 {
  margin-bottom: 25px !important; }

/* line 109, ../scss/_classes.scss */
.mg-l25 {
  margin-left: 25px !important; }

/* line 110, ../scss/_classes.scss */
.mg-r25 {
  margin-right: 25px !important; }

/* line 111, ../scss/_classes.scss */
.mg-t30 {
  margin-top: 30px !important; }

/* line 112, ../scss/_classes.scss */
.mg-b30 {
  margin-bottom: 30px !important; }

/* line 113, ../scss/_classes.scss */
.mg-l30 {
  margin-left: 30px !important; }

/* line 114, ../scss/_classes.scss */
.mg-r30 {
  margin-right: 30px !important; }

/* line 116, ../scss/_classes.scss */
.pd-a0 {
  padding: 0 !important; }

/* line 117, ../scss/_classes.scss */
.pd-a5 {
  padding: 5px !important; }

/* line 118, ../scss/_classes.scss */
.pd-a10 {
  padding: 10px !important; }

/* line 119, ../scss/_classes.scss */
.pd-a15 {
  padding: 15px !important; }

/* line 120, ../scss/_classes.scss */
.pd-a20 {
  padding: 20px !important; }

/* line 121, ../scss/_classes.scss */
.pd-t0 {
  padding-top: 0 !important; }

/* line 122, ../scss/_classes.scss */
.pd-b0 {
  padding-bottom: 0 !important; }

/* line 123, ../scss/_classes.scss */
.pd-l0 {
  padding-left: 0 !important; }

/* line 124, ../scss/_classes.scss */
.pd-r0 {
  padding-right: 0 !important; }

/* line 125, ../scss/_classes.scss */
.pd-t5 {
  padding-top: 5px !important; }

/* line 126, ../scss/_classes.scss */
.pd-b5 {
  padding-bottom: 5px !important; }

/* line 127, ../scss/_classes.scss */
.pd-l5 {
  padding-left: 5px !important; }

/* line 128, ../scss/_classes.scss */
.pd-r5 {
  padding-right: 5px !important; }

/* line 129, ../scss/_classes.scss */
.pd-t10 {
  padding-top: 10px !important; }

/* line 130, ../scss/_classes.scss */
.pd-b10 {
  padding-bottom: 10px !important; }

/* line 131, ../scss/_classes.scss */
.pd-l10 {
  padding-left: 10px !important; }

/* line 132, ../scss/_classes.scss */
.pd-r10 {
  padding-right: 10px !important; }

/* line 133, ../scss/_classes.scss */
.pd-t15 {
  padding-top: 15px !important; }

/* line 134, ../scss/_classes.scss */
.pd-b15 {
  padding-bottom: 15px !important; }

/* line 135, ../scss/_classes.scss */
.pd-l15 {
  padding-left: 15px !important; }

/* line 136, ../scss/_classes.scss */
.pd-r15 {
  padding-right: 15px !important; }

/* line 137, ../scss/_classes.scss */
.pd-t20 {
  padding-top: 20px !important; }

/* line 138, ../scss/_classes.scss */
.pd-b20 {
  padding-bottom: 20px !important; }

/* line 139, ../scss/_classes.scss */
.pd-l20 {
  padding-left: 20px !important; }

/* line 140, ../scss/_classes.scss */
.pd-r20 {
  padding-right: 20px !important; }

/* line 141, ../scss/_classes.scss */
.pd-t25 {
  padding-top: 25px !important; }

/* line 142, ../scss/_classes.scss */
.pd-b25 {
  padding-bottom: 25px !important; }

/* line 143, ../scss/_classes.scss */
.pd-l25 {
  padding-left: 25px !important; }

/* line 144, ../scss/_classes.scss */
.pd-r25 {
  padding-right: 25px !important; }

/* line 145, ../scss/_classes.scss */
.pd-t30 {
  padding-top: 30px !important; }

/* line 146, ../scss/_classes.scss */
.pd-b30 {
  padding-bottom: 30px !important; }

/* line 147, ../scss/_classes.scss */
.pd-l30 {
  padding-left: 30px !important; }

/* line 148, ../scss/_classes.scss */
.pd-r30 {
  padding-right: 30px !important; }

/* line 151, ../scss/_classes.scss */
.fz10 {
  font-size: 10px !important; }

/* line 152, ../scss/_classes.scss */
.fz11 {
  font-size: 11px !important; }

/* line 153, ../scss/_classes.scss */
.fz12 {
  font-size: 12px !important; }

/* line 154, ../scss/_classes.scss */
.fz13 {
  font-size: 13px !important; }

/* line 155, ../scss/_classes.scss */
.fz14 {
  font-size: 14px !important; }

/* line 156, ../scss/_classes.scss */
.fz15 {
  font-size: 15px !important; }

/* line 157, ../scss/_classes.scss */
.fz16 {
  font-size: 16px !important; }

/* line 158, ../scss/_classes.scss */
.fz16 {
  font-size: 16px !important; }

/* line 159, ../scss/_classes.scss */
.fz17 {
  font-size: 17px !important; }

/* line 160, ../scss/_classes.scss */
.fz18 {
  font-size: 18px !important; }

/* line 161, ../scss/_classes.scss */
.fz19 {
  font-size: 19px !important; }

/* line 162, ../scss/_classes.scss */
.fz20 {
  font-size: 20px !important; }

/* line 163, ../scss/_classes.scss */
.fz21 {
  font-size: 21px !important; }

/* line 164, ../scss/_classes.scss */
.fz22 {
  font-size: 22px !important; }

/* line 165, ../scss/_classes.scss */
.fz23 {
  font-size: 23px !important; }

/* line 166, ../scss/_classes.scss */
.fz24 {
  font-size: 24px !important; }

/* line 167, ../scss/_classes.scss */
.fz25 {
  font-size: 25px !important; }

/* line 168, ../scss/_classes.scss */
.fz26 {
  font-size: 26px !important; }

/* line 169, ../scss/_classes.scss */
.fz27 {
  font-size: 27px !important; }

/* line 170, ../scss/_classes.scss */
.fz28 {
  font-size: 28px !important; }

/* line 171, ../scss/_classes.scss */
.fw400 {
  font-weight: 400 !important; }

/* line 172, ../scss/_classes.scss */
.fw700 {
  font-weight: 700 !important; }

/* line 173, ../scss/_classes.scss */
.fw800 {
  font-weight: 800 !important; }

/* line 174, ../scss/_classes.scss */
.fsn {
  font-style: normal !important; }

/* line 175, ../scss/_classes.scss */
.fsi {
  font-style: italic !important; }

/* line 2, ../scss/_elements.scss */
hr {
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 6, ../scss/_elements.scss */
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

/* line 10, ../scss/_elements.scss */
input {
  display: inline-block;
  max-width: 100%; }

/* line 14, ../scss/_elements.scss */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 4px 8px; }

/* line 17, ../scss/_elements.scss */
.pagination li {
  height: auto;
  width: auto;
  line-height: 30px;
  margin: 0 2px;
  vertical-align: middle;
  border: 0; }
  /* line 24, ../scss/_elements.scss */
  .pagination li a {
    display: block;
    line-height: 24px;
    width: auto;
    padding: 0 9px;
    text-align: center;
    border: 1px solid #e0e0e0; }
    /* line 31, ../scss/_elements.scss */
    .pagination li a:hover {
      border-color: #3f3f3f; }
  /* line 36, ../scss/_elements.scss */
  .pagination li.active a {
    background-color: #3f3f3f;
    border-color: #3f3f3f;
    color: #fff; }

/* line 43, ../scss/_elements.scss */
.btn-facebook {
  color: #fff;
  background-color: #3b5998; }
  /* line 46, ../scss/_elements.scss */
  .btn-facebook:hover {
    color: #fff;
    background-color: #2d4373; }
  /* line 50, ../scss/_elements.scss */
  .btn-facebook:focus, .btn-facebook:active {
    color: #fff;
    background-color: #3b5998; }

/* line 56, ../scss/_elements.scss */
.btn-google {
  color: #fff;
  background-color: #dd4b39; }
  /* line 59, ../scss/_elements.scss */
  .btn-google:hover {
    color: #fff;
    background-color: #c23321; }
  /* line 63, ../scss/_elements.scss */
  .btn-google:focus, .btn-google:active {
    color: #fff;
    background-color: #dd4b39; }

/* line 69, ../scss/_elements.scss */
.breadcrumb {
  padding: 5px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px; }

/* line 78, ../scss/_elements.scss */
.header-container {
  padding: 7px 0; }

/* line 81, ../scss/_elements.scss */
.header-content {
  padding: 12px 0; }

/* line 84, ../scss/_elements.scss */
.currency-dropdown, .language-dropdown, .account-dropdown {
  background-color: #f5f5f5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 110px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 100%;
  z-index: 200; }
  /* line 96, ../scss/_elements.scss */
  .currency-dropdown li a, .language-dropdown li a, .account-dropdown li a {
    border-bottom: 1px solid #e6e6e6;
    color: #222222;
    display: block;
    font-size: 12px;
    line-height: 18px;
    padding: 7px 0;
    text-transform: none; }

/* line 107, ../scss/_elements.scss */
.mainmenu-area, .search-box {
  background-color: #f3f3f2; }

/* line 111, ../scss/_elements.scss */
.cart-product-info .product-name {
  text-transform: none; }

/* line 114, ../scss/_elements.scss */
.mainmenu ul#nav li {
  padding: 7px 0; }

/* line 117, ../scss/_elements.scss */
.mainmenu ul#nav li .megamenu {
  padding: 15px 20px;
  top: 100%; }

/* line 121, ../scss/_elements.scss */
.mainmenu ul.sub-menu {
  padding: 15px 20px;
  top: 100%; }

/* line 125, ../scss/_elements.scss */
.footer-widget-list ul li {
  margin-bottom: 5px;
  line-height: 22px;
  overflow: hidden;
  text-transform: capitalize; }

/* line 131, ../scss/_elements.scss */
.footer-widget-list ul.address li {
  margin-bottom: 5px;
  color: #ddd; }

/* line 136, ../scss/_elements.scss */
.popular-tags .tag-list li a {
  font-size: 13px !important;
  margin: 0 0 5px;
  padding: 3px 7px;
  text-transform: none; }

/* line 142, ../scss/_elements.scss */
.shop-main-area {
  margin: 15px 0; }

/* line 145, ../scss/_elements.scss */
.shop-item-filter {
  display: block;
  margin: 0 0 30px;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

/* line 152, ../scss/_elements.scss */
.filter-by {
  margin-left: 0; }

/* line 155, ../scss/_elements.scss */
.filter-by .select-title {
  display: inline-block;
  line-height: 22px;
  margin-right: 10px; }

/* line 160, ../scss/_elements.scss */
.filter-by select {
  border: 1px solid #ccc;
  font-size: 14px;
  height: 22px;
  cursor: pointer;
  outline: none; }

/* line 169, ../scss/_elements.scss */
.single-product-item .single-product-name {
  padding: 0 5px;
  font-size: 13px;
  color: #69686c; }
  /* line 173, ../scss/_elements.scss */
  .single-product-item .single-product-name a {
    font-size: 13px;
    color: #000;
    text-transform: none; }
/* line 179, ../scss/_elements.scss */
.single-product-item .price-box {
  margin: 0;
  padding: 0 5px; }
  /* line 184, ../scss/_elements.scss */
  .single-product-item .price-box .old-price .price,
  .single-product-item .price-box .special-price .price {
    font-size: 14px; }

/* line 190, ../scss/_elements.scss */
.single-product-item .button-actions {
  height: 30px; }

/* line 193, ../scss/_elements.scss */
.single-product-item .button-actions .add-to-links li a,
.single-product-item .button-actions button.button span {
  width: 30px;
  height: 30px;
  line-height: 30px; }

/* line 199, ../scss/_elements.scss */
.product-deails-area {
  margin: 10px 0; }

/* line 203, ../scss/_elements.scss */
.product-details-content .product-name {
  margin: 0 0 10px;
  padding: 0;
  border-top: 0; }
  /* line 207, ../scss/_elements.scss */
  .product-details-content .product-name h1 {
    margin-top: 0;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: none; }

/* line 218, ../scss/_elements.scss */
.product-to-cart-option-form label {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }
/* line 223, ../scss/_elements.scss */
.product-to-cart-option-form .radio-check {
  display: inline-block;
  cursor: pointer; }
  /* line 226, ../scss/_elements.scss */
  .product-to-cart-option-form .radio-check .attr-display {
    cursor: pointer;
    display: block;
    border: 2px solid transparent;
    padding: 1px; }
    /* line 231, ../scss/_elements.scss */
    .product-to-cart-option-form .radio-check .attr-display span {
      display: block; }
    /* line 234, ../scss/_elements.scss */
    .product-to-cart-option-form .radio-check .attr-display img {
      display: block;
      max-width: 50px; }
  /* line 239, ../scss/_elements.scss */
  .product-to-cart-option-form .radio-check input:checked + .attr-display {
    border-color: #000; }

/* line 244, ../scss/_elements.scss */
.cart-main-area {
  margin: 0 0 90px; }

/* line 250, ../scss/_elements.scss */
.cart-table thead tr th {
  font-weight: 700 !important;
  white-space: nowrap; }
/* line 258, ../scss/_elements.scss */
.cart-table tbody tr td {
  text-align: left !important; }

/* line 265, ../scss/_elements.scss */
.login-main-area {
  padding: 30px 0; }

/* line 268, ../scss/_elements.scss */
.account-section-title {
  margin: 0 0 20px;
  padding: 7px 0;
  font-size: 18px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  border-right: 0; }

/* line 276, ../scss/_elements.scss */
.table-account-data {
  margin: 15px 0; }

/* line 280, ../scss/_elements.scss */
.account-nav-tabs .nav > li.active > a {
  font-weight: 700; }
/* line 284, ../scss/_elements.scss */
.account-nav-tabs .nav > li > a {
  position: relative;
  display: block;
  padding: 5px 15px; }
/* line 289, ../scss/_elements.scss */
.account-nav-tabs .tab-content {
  padding: 15px 5px; }

/* line 296, ../scss/_elements.scss */
.payment-method-wrap .single-method {
  border-bottom: 1px solid #f2f2f2; }
  /* line 298, ../scss/_elements.scss */
  .payment-method-wrap .single-method:first-child {
    border-top: 1px solid #f2f2f2; }
  /* line 301, ../scss/_elements.scss */
  .payment-method-wrap .single-method label {
    display: block;
    font-size: 13px;
    padding: 5px 0 3px;
    cursor: pointer; }
    /* line 306, ../scss/_elements.scss */
    .payment-method-wrap .single-method label:hover {
      opacity: .9; }
    /* line 309, ../scss/_elements.scss */
    .payment-method-wrap .single-method label input, .payment-method-wrap .single-method label span {
      display: inline-block;
      vertical-align: middle; }
    /* line 313, ../scss/_elements.scss */
    .payment-method-wrap .single-method label .payment-radio-check {
      margin: 0 10px 0 5px; }
    /* line 316, ../scss/_elements.scss */
    .payment-method-wrap .single-method label .payment-method {
      font-weight: 800;
      width: 120px; }
      @media (min-width: 480px) {
        /* line 316, ../scss/_elements.scss */
        .payment-method-wrap .single-method label .payment-method {
          width: 140px; } }
      @media (min-width: 768px) {
        /* line 316, ../scss/_elements.scss */
        .payment-method-wrap .single-method label .payment-method {
          width: 170px; } }
    /* line 326, ../scss/_elements.scss */
    .payment-method-wrap .single-method label .payment-value {
      font-weight: 800;
      width: 80px; }
      @media (min-width: 480px) {
        /* line 326, ../scss/_elements.scss */
        .payment-method-wrap .single-method label .payment-value {
          width: 110px; } }
    /* line 333, ../scss/_elements.scss */
    .payment-method-wrap .single-method label .payment-info {
      width: auto;
      color: #ca2535;
      width: 100%;
      text-align: right; }
      @media (min-width: 480px) {
        /* line 333, ../scss/_elements.scss */
        .payment-method-wrap .single-method label .payment-info {
          width: auto; } }
      /* line 341, ../scss/_elements.scss */
      .payment-method-wrap .single-method label .payment-info img {
        margin-top: 5px; }
        @media (min-width: 768px) {
          /* line 341, ../scss/_elements.scss */
          .payment-method-wrap .single-method label .payment-info img {
            margin-top: 0; } }
    /* line 348, ../scss/_elements.scss */
    .payment-method-wrap .single-method label input:checked + .payment-method {
      color: #3f3f3f; }
    /* line 351, ../scss/_elements.scss */
    .payment-method-wrap .single-method label input:checked + .payment-method + .payment-value {
      color: #ca2535; }

/* line 2, ../scss/_global.scss */
*, *:hover, *:active, *:visited, *:focus {
  outline: none !important; }

/* line 7, ../scss/_global.scss */
body {
  font-family: 'Verdana','Arial', sans-serif !important; }

/* line 10, ../scss/_global.scss */
.form-group {
  margin-bottom: 10px; }

/* line 13, ../scss/_global.scss */
.form-control {
  border-radius: 0; }
  /* line 15, ../scss/_global.scss */
  .form-control:focus {
    box-shadow: 0 0 0 0 transparent;
    border-color: #333; }

/* line 20, ../scss/_global.scss */
.btn {
  border-radius: 0; }

/* line 23, ../scss/_global.scss */
.checkbox, .radio {
  margin-top: 7px;
  margin-bottom: 7px; }

/* line 2, ../scss/_sidebar.scss */
.sidebar-category-list {
  padding: 0 0 10px;
  margin: 0 0 5px 0; }
  /* line 6, ../scss/_sidebar.scss */
  .sidebar-category-list ul li {
    line-height: 18px; }
    /* line 8, ../scss/_sidebar.scss */
    .sidebar-category-list ul li a {
      display: inline-block;
      padding: 1px 0;
      line-height: 18px;
      text-transform: none; }

/* line 18, ../scss/_sidebar.scss */
.sidebar-content .section-title {
  margin-bottom: 5px; }
  /* line 20, ../scss/_sidebar.scss */
  .sidebar-content .section-title h2 {
    font-size: 16px;
    padding-right: 10px;
    text-transform: normal; }
  /* line 25, ../scss/_sidebar.scss */
  .sidebar-content .section-title:after {
    top: 9px; }
/* line 29, ../scss/_sidebar.scss */
.sidebar-content .text-wrap {
  padding: 5px 0 15px;
  margin: 0 0 5px 0;
  font-size: 13px;
  line-height: 17px;
  font-style: italic; }
/* line 36, ../scss/_sidebar.scss */
.sidebar-content .popular-tags {
  padding: 5px 0 10px; }
/* line 40, ../scss/_sidebar.scss */
.sidebar-content .account-nav {
  border: 1px solid #e0e0e0; }
  /* line 42, ../scss/_sidebar.scss */
  .sidebar-content .account-nav .menu-title {
    padding: 4px 0 4px 10px;
    font-size: 14px;
    font-weight: 700;
    background-color: #e0e0e0;
    border-left: 3px solid #ca2535; }
  /* line 49, ../scss/_sidebar.scss */
  .sidebar-content .account-nav ul {
    list-style: none;
    padding: 10px 0; }
  /* line 53, ../scss/_sidebar.scss */
  .sidebar-content .account-nav .menu-list {
    padding: 8px 12px;
    font-size: 13px; }
    /* line 56, ../scss/_sidebar.scss */
    .sidebar-content .account-nav .menu-list > li {
      border-bottom: 1px solid #e0e0e0; }
      /* line 58, ../scss/_sidebar.scss */
      .sidebar-content .account-nav .menu-list > li:last-child {
        border-bottom: 0; }
      /* line 61, ../scss/_sidebar.scss */
      .sidebar-content .account-nav .menu-list > li > a {
        padding: 4px 0;
        vertical-align: top;
        line-height: 18px;
        color: #232323; }
        /* line 66, ../scss/_sidebar.scss */
        .sidebar-content .account-nav .menu-list > li > a:before {
          display: inline-block;
          content: "\25b6";
          padding: 0 4px 0 0;
          font-size: 8px;
          line-height: 18px;
          vertical-align: top;
          color: #494949; }
    /* line 77, ../scss/_sidebar.scss */
    .sidebar-content .account-nav .menu-list .inner-menu-list {
      padding: 2px 10px 7px 20px;
      font-size: 12px; }
      /* line 81, ../scss/_sidebar.scss */
      .sidebar-content .account-nav .menu-list .inner-menu-list li a {
        line-height: 16px;
        color: #636363; }
    /* line 88, ../scss/_sidebar.scss */
    .sidebar-content .account-nav .menu-list li a {
      display: inline-block; }
      /* line 90, ../scss/_sidebar.scss */
      .sidebar-content .account-nav .menu-list li a:hover {
        color: #ca2535; }
      /* line 93, ../scss/_sidebar.scss */
      .sidebar-content .account-nav .menu-list li a.active {
        color: #232323;
        font-weight: 700; }

/* line 1, ../scss/_cart.scss */
.qh-cart-main-area {
  margin: 45px 0 60px; }

/* line 5, ../scss/_cart.scss */
.qh-cart-product .table > tbody > tr > td, .qh-cart-product .table > tbody > tr > th, .qh-cart-product .table > tfoot > tr > td, .qh-cart-product .table > tfoot > tr > th, .qh-cart-product .table > thead > tr > td, .qh-cart-product .table > thead > tr > th {
  padding: 6px 8px;
  vertical-align: middle; }
  /* line 8, ../scss/_cart.scss */
  .qh-cart-product .table > tbody > tr > td.no-padding, .qh-cart-product .table > tbody > tr > th.no-padding, .qh-cart-product .table > tfoot > tr > td.no-padding, .qh-cart-product .table > tfoot > tr > th.no-padding, .qh-cart-product .table > thead > tr > td.no-padding, .qh-cart-product .table > thead > tr > th.no-padding {
    padding: 6px 0; }
/* line 12, ../scss/_cart.scss */
.qh-cart-product .product-image {
  max-width: 90px;
  max-height: 150px; }
/* line 19, ../scss/_cart.scss */
.qh-cart-product table thead tr td, .qh-cart-product table thead tr th {
  text-align: center;
  white-space: nowrap;
  color: #ca2535;
  background-color: #f7f7f7; }
/* line 29, ../scss/_cart.scss */
.qh-cart-product table tbody tr td, .qh-cart-product table tbody tr th {
  text-align: center;
  white-space: nowrap; }
/* line 35, ../scss/_cart.scss */
.qh-cart-product table .single-line {
  padding: 4px 0;
  border-bottom: 2px dashed #ddd;
  white-space: nowrap; }
  /* line 39, ../scss/_cart.scss */
  .qh-cart-product table .single-line:last-child {
    border-bottom: 0; }
/* line 44, ../scss/_cart.scss */
.qh-cart-product .table-bordered > tbody > tr > td,
.qh-cart-product .table-bordered > tbody > tr > th,
.qh-cart-product .table-bordered > tfoot > tr > td,
.qh-cart-product .table-bordered > tfoot > tr > th {
  border: 0;
  border-bottom: 1px solid #ddd; }
/* line 51, ../scss/_cart.scss */
.qh-cart-product .table-bordered > thead > tr > td,
.qh-cart-product .table-bordered > thead > tr > th {
  border: 0;
  border-bottom: 1px solid #ddd; }

/* line 58, ../scss/_cart.scss */
.qh-cart-info .table > tbody > tr > td, .qh-cart-info .table > tbody > tr > th, .qh-cart-info .table > tfoot > tr > td, .qh-cart-info .table > tfoot > tr > th, .qh-cart-info .table > thead > tr > td, .qh-cart-info .table > thead > tr > th {
  padding: 5px 8px;
  vertical-align: middle;
  border-top: 0;
  background-color: #f2f2f2;
  border: 3px solid #fff; }
