Options +FollowSymLinks +ExecCGI

#<IfModule mod_headers.c>
#Header set Strict-Transport-Security "max-age=0; includeSubDomains;" env=HTTPS
#</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  #RewriteBase /

  # we skip all files with .something
  #RewriteCond %{REQUEST_URI} \..+$
  #RewriteCond %{REQUEST_URI} !\.html$
  #RewriteCond %{REQUEST_URI} !\t\/.+$
  #RewriteRule .* - [L]

  RewriteRule ^(themes|upload|img)($|/) - [L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

php_value upload_max_filesize 100M
php_value post_max_size 100M

<IfModule mod_php5.c>
php_value max_execution_time 3000
</IfModule>

<IfModule mod_expires.c>
    <FilesMatch "\.(jpe?g|png|gif|js|css)$">
      ExpiresActive On
      ExpiresDefault "access plus 1 week"
    </FilesMatch>
</IfModule>